<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/styles/initial.css">
</head>

<body>
    <header>
        <div class="pokebola">
            <img src="pikachu.png" alt="Email" class="image">
        </div>
    </header>
    <main>
        <div class="container">
            <div class="typed-out">
                API POKEMON
            </div>
        </div>
        <p class="welcome"> Bem vindo(a) ao <%= title %>! Nele temos duas páginas, uma é uma introdução sobre o tema. Na segunda, temos uma API, onde lista todos os Pokemons e você pode pesquisar por número ou nome!
        </p>
        <a href="/pokemon">Pokemon</a>
        <a href="/api/index.html" class="api">API</a>
        <footer>
            <p class="version"> Versão <%= version %>
            </p>
        </footer>
    </main>

</body>

</html>